<h3>Add a recipe</h3>

<form action="/recipe/new" method="post">
  <div class="form-group">
    <label for="title">Name dat recipe:</label>
    <input name="title" type="text">
  </div>
  <button type="submit" class="btn btn-success">Add this Recipe into the box!</button>
</form>
